@model IEnumerable<Project_DATN.Data.EF.Entities.ChucVu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*Html.DisplayNameFor(model => model.TaiKhoan)*@Tên Tài Khoản
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.PhongBan)*@Tên Phòng Ban
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.tenChucVu)*@Tên Chức Vụ
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.ngayBatDauApDung)*@Ngày Bắt Đầu Áp Dụng
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.denNgay)*@Đến Ngày
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.ghiChu)*@Ghi Chú
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.trangThai)*@Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan.tenTaiKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhongBan.tenPhongBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayBatDauApDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.denNgay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ghiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trangThai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
